body{
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size:contain;
    margin: 0%;
    padding: 0%;
    width: 100%;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 750px;
    
    
}

#heading{
margin-left: 60%;
    font-size: 40px;
    font-family:monospace;
    margin-top: 16%;
    color: aliceblue;
}
.navbar{
    background-color:black;
    width:100%;
    height:100px;
    position: relative;
    margin-top: 0px;
    
}
.btn{
    position:absolute;
    top:30%;
    right: 5%;
    
    float: right;
}
.head h1{
    color:white;
    
    margin-top: 3px;
}
.btn a{
    color:orangered;
    margin: 10px;
    padding: 3px;
    text-decoration:none;
    font-size: 18px;
    letter-spacing: 1px;
    box-sizing: border-box;
    
}
.btn a:hover{
    border-bottom: 2px solid blue ;
}

#active{
    color:green;
    border-bottom:2px solid red;
     background-color: white;
                 border-radius:30px; 
}
.log{
    top:25%;
    left:80%;
    position:relative;
    marker-end: 
}
.log a{
    color: red;
    text-decoration:none;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: -18px;
}
#login{
    width:7%;
    height:40%;
    border:none;
    padding:0 10px;
    margin-left:30px;
    border-radius:30px;
    background-color:white;
    color:orangered;
    text-transform: uppercase;
    transition: all 0.4s;
    transition-delay:0.05s;
    letter-spacing: 2px;
    align-content: space-around;
    align-self: auto;
}
#login:hover{
    background-color: red;
    color: black;
}
#register:hover{
    background-color:red;
    color: black;
}
.main-showcase{
    width:100%;
    height: 20vh;
    overflow: hidden;
    position: relative;
    background-color:;
    border-bottom: 5px solid;
    float:right;
    border-radius:5px; 

    }

.main-heading{
    color:white;
    position:absolute;
    font-size:70px;
    top:30%;
    left:45%;
    letter-spacing:3px;
    transform:translate(-50%,-50%);
}
.main-heading{
    color:black;
}
.main-para-second{
    padding:10px;
    position: absolute;
    top:40%;
    left:45%;
    color:white;
    line-height:22px;
    justify-self: center;
    transform:translate(-50%,-50%);
    }
.third{
    padding:10px;
    position: absolute;
    top:50%;
    left:45%;
    color:white;
    line-height:22px;
    transform:translate(-50%,-50%);
}

#sidebar{
    float: left;
    width:25%;
    height: 50%;
    padding: 5px;
    margin:0%;
    background-color:white;
     box-sizing: border-box;
      
}
#main-footer{
    color:aqua ;
    text-align:center;
    background-color:grey;
    height:80px;
    padding: 20px;
    
}
#main-footer p{
    color:white;
}

.section-a{
    width: 100%;
    position: relative;
    height: 150%;
    margin-top: 400px;
        
}
.section-b{
    width: 100%;
    position: inherit;
    height: 100%;
}
.cards{
    top: 30%;
    position: absolute;
    width: 90%;
    height:450px;
    justify-content: center;
    text-align: center;
    margin-left: 40px;
    display: flex;
    
    border-radius: 40px;
}
.cards span{
    justify-content: space-between;
    margin-lefT: 40px;
    text-align: center;
    justify-content: center;
    background-color:darkgray;
    flex-direction: row;
    flex-basis: 20%;
    color: white;
    flex-wrap: wrap;

    
}
.cards span h1{
    margin-top:0px;
    color:white;
    position: relative;
    padding-bottom: 0px;
}
.card a{
    
    color: black;
    
}
.cards span p{
    margin-top: 2px;
    padding: 0px;
    color: black;
    text-decoration: none;
    text-decoration-style: wavy;
    }
.card i{
    margin-top: 5px;
}
.card{
    border-radius: 50px;
}
.main-showcase{
    float: right;    
}
#data_2{
    padding: 10px;
    border: 1px;
    border-color:gray;
    border-radius: 15px;
    border-style: groove;
    margin-left: 10%;
}
#data_3{
    border: 1px;
    padding: 10px;
    border-style: groove;
    border-color: gray;
    border-radius: 15px;
margin-left: 10%;
    }
#data_4{
    padding: 10px;
    border: 1px;
border-style:double;
    border-color: gray;
    border-radius: 15px;
    margin-left: 10%;
}
#data_5{
    padding: 10px;
    border: 1px;

border-style:groove;
    border-color:gray;
    border-radius: 15px;
margin-left: 10%;
}
#data_6{
    padding: 10px;
    border: 1px;
    border-style:groove;
    border-color: gray;
    border-radius: 15px;
margin-left: 10%;
}
#data_7{
    padding: 10px;
    border: 1px;
    border-style:groove;
    border-color:gray;
    border-radius: 15px;
    margin-left: 10%;
    }
#data_8{
padding: 10px;
    border: 1px;
    border-style:groove;
    border-color: gray;
    border-radius: 15px;
    margin-left: 10%;
}
#data_9{
    padding: 10px;
    border: 1px;
    border-style:groove;
    border-color:gray;
    border-radius: 15px;
    margin-left: 10%;

}
#data_10{
padding: 10px;
    margin: auto;
    border: 1px;
    color: aliceblue;
    border-style:solid;
    border-color: gray;
    border-radius: 15px;
    background-color:gray;
    margin-left: 30%;
    text-decoration: none;
    
}
#booking-form{
    border-style:double;
    border-radius:30px; 
    background-color: white;
    border-style: solid;
}

#fix-me2 a{
    color:red;
}
.main-login2{
    width: 200%;
    height: 100%;
    image-resolution: from-image;
}
.login-form{
    width: 100%;
    
}
#main-footer1{
    float:none;
    margin-top: 10%;
    padding: 10px;
    color: red;
}
.social1 a,i{

    color: black;
    }
.login-form2{
text-align: center;
    background-color: aqua;
    width: 35%;
    height: 300px;
    
    margin-right: 150px;
    float: right;
}
.login-form2 a{
    color:black;
}
#data_11{
    padding: 10px;
    margin-left:10%;
    border: 1px;
    border-style:solid;
    border-color: gray;
    border-radius: 15px;


}
#data_12{
    padding: 10px;
    margin-left: 10%;
    border: 1px;
    border-style:solid;
    border-color: gray;
    border-radius: 15px;
}


#cardstab{
    padding: 100px;
margin-left: 25px;
    background-image: url(back4.JPEG);
}
#cardstab:hover{
    color: red;
    background-color: red;
}
 #red{
        padding:13px;
        background-color:darkred;
    }
    #darkorchid{
            padding:13px;
        background-color:darkorchid;
    }
     #orangered{
        padding:13px;
        background-color:orangered;
    }
    #aqua{
            padding:13px;
        background-color:aqua;
    }
#chartreuse{
            padding:13px;
        background-color:chartreuse;
    }
#deeppink{
            padding:13px;
        background-color:deeppink;
    }
.main-login{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background: lightgrey;
    
    grid-template-columns: 80% 20%;
}
.main-login2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background: lightgrey;
    
    grid-template-columns: 20% 20%;
}


.main-login >div{
    height:700px;
    
}
.main-login2 >div{
    height:70px;
    background:whitesmoke;
}
.login-image{
    padding-left:0px;
    padding-right:0px;
    padding-top:10px;
    box-sizing: border-box;
}

.content{
    padding-right: 100px;
    padding-left: 50px;
}
.content2{
    padding-left:0px;
    padding-right:0px;
    padding-top:10px;
    box-sizing: border-box;
    
    
}
